.app_dark_theme {
	--bg-color: #174f30;
	--inverted-bg-color: #0a2600;
	--primary-color: #fff;
	--secondary-color: #dddcdc;
	--inverted-primary-color: #909090;
	--inverted-secondary-color: #161616;
}
