.app_dark_theme {
	--bg-color: #174f30;
	--inverted-bg-color: #cecece;
	--primary-color: #121313;
	--secondary-color: #444;
	--inverted-primary-color: #909090;
	--inverted-secondary-color: #161616;
}
