.app_dark_theme {
	--bg-color: #174f30;
	--inverted-bg-color: #eee;
	--primary-color: #43e28b;
	--secondary-color: #30a766;
	--inverted-primary-color: #909090;
	--inverted-secondary-color: #cfcfcf;
}
