.app_light_theme {
	--bg-color: #eee;
	--inverted-bg-color: #174f30;
	--primary-color: #24d473;
	--secondary-color: #648874;
	--inverted-primary-color: #909090;
	--inverted-secondary-color: #cfcfcf;
}
