.ProfileCard {
	padding: 20px;
	border: 2px solid var(--inverted-bg-color);
}

.input {
	margin-top: 10px;

	input {
		padding-left: 5px;
		border: 1px solid transparent;
	}
}

.loading {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 300px;
}

.avatarWrapper {
	display: flex;
	width: 100%;
	justify-content: center;
}

.editing input {
	border-color: #e4aa35;
	background-color: antiquewhite;
}
